.start-view {
  display: flex;
  //   display: none;
  flex-direction: column;
  background-color: yellowgreen;
  height: 100%;
  width: 100vw;
  max-width: 1000px;
  position: absolute;
  transition: opacity 1s linear;
  padding: 20px;
  //   justify-content: space-between;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;

  &:hover &__image {
    transform: translateY(0);
  }
  &__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  &__image {
    // background-color: green;
    position: relative;
    width: 20vh;
    height: auto;
    display: block;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translateY(100%);
    transition: transform 0.3s linear;
  }
}
.container {
  overflow: hidden;
  position: relative;
  width: 200px;
}
.hole--bottom {
  position: absolute;
  background-color: black;
  width: 200px;
  height: 20px;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  border-radius: 50% / 0 0 100% 100%;
}
.hole--top {
  position: absolute;
  background-color: black;
  width: 200px;
  height: 20px;
  bottom: 19px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  border-radius: 50% / 100% 100% 0 0;
}
